/* This text is in Rockwell */
#root { 
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
  background: url("https://png.pngtree.com/background/20211215/original/pngtree-modern-simple-elegant-gradinet-green-landing-page-website-background-picture-image_1455074.jpg")
}


#posts-index img {
  width: 300px;
  height: 300px;
}

html {
  scroll-behavior: smooth;
}


